.tasks {
    border: solid 2px black;
    width: 600px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0;
}

.btn-tasks {
    padding: 1px;
    position: absolute;
    top: 0;
    right: 0px
}
